<section id="stack-options" class="wf-section wf-stack-options">
  <div class="wf-wrap">
    <div class="wf-section__head">
      <h2 class="wf-section__title">Stack Options</h2>
    </div>
    <div class="wf-stack-options__card">
      {% for block in section.blocks %}
        {% render block %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Stack options",
  "blocks": [
    { "type": "@app" }
  ],
  "presets": [
    { "name": "Stack options" }
  ]
}
{% endschema %}
